# Xcode
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcuserdatad
*.xcscheme

# macOS
.DS_Store

# Add any specific file you want to keep
!ShareBiteApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
